{{#if errors}}
    <div class="alert alert-danger" role="alert">
        <ul>
            {{#each errors}}
                <li>
                    {{this}}
                </li>
            {{/each}}
        </ul>
    </div>
{{/if}}
